.li{
    color:blueviolet;
    background-color: orange;
}

.img{
    width:"2px";
    border: style 1px;
    border-radius: 30px;
}

#heading{
    color:olive;
}

*{
    color:brown;
}

.anurag{
    color: aqua;
    font-size:20px;
    font-weight:bold;
}